@import "./variables.module.scss";

.header {
  width: 100%;
  height: 30vh;

  position: fixed;
  padding: 1rem;
  box-sizing: border-box;

  background: linear-gradient(180deg, white, white, transparent);

  z-index: 99;
}

.headline {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4rem;
  text-align: left;
  position: absolute;
}

.globe {
  position: absolute;
  top: -5rem;
  right: -4rem;

  img {
    max-height: 55vh;
  }
}
