@import "./variables.module.scss";

.pageHeader {
  width: 100vw;
  display: flex;
  justify-content: space-between;

  position: fixed;
  z-index: 999;

  .logo {
    font-family: $font-headline;
    font-size: 2rem;
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    transition: 200ms;

    &.hidden {
      opacity: 0;
    }

    a {
      text-decoration: none;
      color: var(--color-font);
    }
  }

  .navIcon {
    width: 8rem;
    height: 6rem;
    fill: var(--color-icons);
  }
}

.headline {
  font-family: $font-headline;
  font-size: 4rem;
  text-align: left;
  position: absolute;
  top: 7rem;
}

// combination of scaling and rotating with axis of rotating far on the left side
// creates nice "fly in" animation of globe

@keyframes globeFlyIn {
  0% {
    transform: scale(0.1) rotate(60deg);
    transform-origin: 50rem 10rem;
  }
}

@keyframes globeWaving {
  50% {
    transform: scale(0.95) rotate(2deg);
  }
}

@keyframes movingShadow {
  0% {
    background-position: right top;
    background-size: 0% 0%;
    opacity: 0;
  }
  // 20% {
  // background-size: 10% 20%;
  // }
  20% {
    background-position: right top;
    // background-size: 75% 50%;
  }
  70% {
    // background-position: right top;
    background-size: 140% 100%;
    opacity: 1;
  }
}

.headerContinent {
  width: 100vw;
  height: 30vh;

  position: fixed;
  padding: 1rem;
  box-sizing: border-box;

  background: var(--color-background-gradient);

  z-index: 98;

  // globe shadow
  &::before {
    content: "";
    display: block;
    width: 100vw;
    height: 32rem;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 140% 100%;
    background-image: radial-gradient(
      closest-side at 50% 65%,
      rgba(0, 0, 0, 0.6) 5%,
      rgba(255, 255, 255, 0) 60%
    );
    animation: movingShadow 1s ease-out;
  }

  .globe {
    position: absolute;
    top: -5rem;
    right: -4rem;

    img {
      max-height: 55vh;
      // animation with ease-out timing function on steroids, so globe fly in quickly with slow end
      animation: globeFlyIn 1s 0s cubic-bezier(0.02, 0.01, 0.21, 1),
        globeWaving 10s ease infinite;
    }
  }
}
