@import "./variables.module.scss";
@import "./main.module.scss";

.pageHeader {
  width: 100vw;
  display: flex;
  justify-content: space-between;

  position: fixed;
  z-index: 999;

  .logo {
    font-family: $font-headline;
    font-size: 2rem;
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    transition: 200ms;

    &.hidden {
      opacity: 0;
    }

    a {
      text-decoration: none;
      color: var(--color-font);
    }
  }

  .navIcon {
    width: 8rem;
    height: 6rem;
    fill: var(--color-icons);
  }
}

// CONTINENTS HEADER

.headerContinent {
  width: 100vw;
  height: 30vh;

  position: fixed;
  padding: 1rem;
  box-sizing: border-box;

  background: $header-continent-background;

  z-index: 98;

  .headline {
    font-family: $font-headline;
    font-size: 4rem;
    text-align: left;
    position: absolute;
    top: 7rem;
    left: 1rem;

    transition: 0.5s;
  }

  // GLOBE

  .globe {
    position: absolute;
    top: -5rem;
    right: -4rem;

    img {
      filter: var(--globe-brightness);
      max-height: 55vh;
      // infinite animation of slow globe pulsing in a space
      // animation: globe_Pulsing 10s 1s ease infinite;
    }
  }

  // GLOBE SHADOW

  &::before {
    content: "";
    display: block;
    width: 30rem;
    height: 29rem;
    position: absolute;
    top: 0;
    right: 0;
    background-position: 35% 100%;
    background-repeat: no-repeat;
    background-size: 160% 100%;
    background-image: $globe-shadow;
    // infinite animation of slow globe shadow pulsing in a space
    // animation: shadow_Pulsing 10s 1s ease infinite;
  }

  // ANIMATIONS ON PAGE LOAD

  // class .animate is added to header on page load and removed afterwards
  // so animation of globe 'fly in' the screen runs when page is loaded
  &.animateIn .globe img {
    // animation with ease-out timing function on steroids - cubic-bezier(),
    // so on page load globe 'fly in' quickly with slow end
    animation: globe_FlyIn 0.7s 0s cubic-bezier(0.02, 0.01, 0.21, 1) backwards;
  }
  &.animateIn::before {
    // animation of shadow under the globe when it 'fly in'
    animation: shadow_FlyIn 0.7s linear backwards;
  }
  &.animateIn .headline {
    left: -40rem;
  }

  // ANIMATIONS ON LEAVING PAGE

  // class .animateOut is added to header when other continent is clicked and removed afterwards
  // so animation of globe 'fly out' runs when you leave the page
  &.animateOut .globe img {
    // animation of globe 'fly out' of the screen when
    animation: globe_FlyOut 0.5s ease-in-out forwards;
  }
  &.animateOut::before {
    // animation of shadow under the globe when it 'fly out'
    animation: shadow_FlyOut 0.5s linear forwards;
  }
  &.animateOut .headline {
    left: -40rem;
  }
}

// ANIMATIONS
// ==========

// combination of scaling and rotating,
// with axis of rotating far on the left side,
// creates nice "fly in" animation of globe
@keyframes globe_FlyIn {
  0% {
    transform: scale(0.1) rotate(60deg);
    transform-origin: 50rem 10rem;
  }
}

// makes shadow of globe 'fly in' the screen smootly together with globe
@keyframes shadow_FlyIn {
  0% {
    background-position: 120% 50%;
    background-size: 0% 0%;
    opacity: 0;
  }
  70% {
    background-position-x: 35%;
    background-size: 140% 100%;
    opacity: 0.7;
  }
  100% {
    background-position-x: 35%;
    background-size: 160% 100%;
  }
}

// makes globe 'fly out' of the screen
@keyframes globe_FlyOut {
  30% {
    transform: translateY(2rem);
    transform-origin: 50% 100%;
  }
  100% {
    transform: translateY(-32rem);
    transform-origin: 50% 100%;
  }
}

// makes shadow disapear when globe 'fly out'
@keyframes shadow_FlyOut {
  30% {
    background-position: 35% 100%;
    background-size: 180% 100%;
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    background-size: 0% 0%;
    opacity: 0;
  }
}

// makes globe slowly pulsing
@keyframes globe_Pulsing {
  50% {
    transform: scale(0.95) rotate(2deg);
    // transform-origin: 0% 100%;
  }
}

// makes globe's shadow slowly pulsing
@keyframes shadow_Pulsing {
  50% {
    background-position: 30% 40%;
    background-size: 120% 90%;
  }
}
