@import "./variables.module.scss";

body {
  margin: 0;
  font-family: $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: var(--color-background);
  color: var(--color-font);
  font-size: 10px;
}

.App {
  text-align: left;
}

.contentWrapper {
  height: 2000px;
  padding: 1rem;
}
