@import "./variables.module.scss";

html {
  background-color: var(--color-background);
  color: var(--color-font);
  font-size: 10px;
}

.App {
  // text-align: center;
}

.contentWrapper {
  height: 2000px;
  padding: 1rem;
}
