@import "./variables.module.scss";

body {
  margin: 0;
  font-family: $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: var(--color-background);
  color: var(--color-font);
  font-size: 12px;

  // added to <html> tag when toggle theme and remove afterwards
  // makes smooth transition of switching color
  &.colorThemeInTransition,
  &.colorThemeInTransition *,
  &.colorThemeInTransition *:before,
  &.colorThemeInTransition *:after {
    transition: all 750ms !important;
    transition-delay: 0ms !important;
  }

  &.openMenu {
    overflow-y: hidden;
  }
}

.contentWrapper {
  height: 2000px;
  padding: 1rem;

  transition: all 750ms !important;
}
