@import "./variables.module.scss";

.mainNav {
  width: 0vw;
  height: 0vh;
  background-color: var(--color-menu-bground);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0rem;

  transition: 300ms;

  display: flex;
  justify-content: space-between;

  z-index: 999;

  &.open {
    width: 100vw;
    height: 100vh;
    font-size: 4rem;
  }
}

.bottomNavWrapper {
  width: 100%;
  height: 6rem;
  padding: 0.5rem 2rem;
  box-sizing: border-box;

  background-color: var(--color-bottom-nav-bground);

  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottomNavIconWrapper {
  height: 4.5rem;
  -webkit-tap-highlight-color: transparent;

  img {
    height: 4.5rem;
    width: 4.5rem;
    transition: 0.1s;
  }

  a:active img {
    transform: scale(0.9);
    opacity: 0.5;
  }
}
