@import "./variables.module.scss";

.mainNav {
  width: 0vw;
  height: 0vh;
  background-color: var(--color-menu-bground);
  position: fixed;
  top: 3rem;
  right: 4rem;
  border-radius: 10rem;
  padding: 0rem;
  box-sizing: border-box;
  overflow-y: scroll;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;

  z-index: 998;

  transition: 200ms;

  &.transitionDelay {
    transition: 150ms;
    transition-delay: 150ms;
  }

  .mainNavItem {
    font-family: $font-headline;
    font-size: 4rem;
    padding: 0rem;

    height: 0rem;
    line-height: 0rem;
    visibility: hidden;
    color: var(--color-menu-bground);

    width: 100%;

    transition: 200ms;

    &.transitionDelay {
      transition: 500ms;
      transition-delay: 100ms;
    }
  }

  &.open {
    width: calc(100vw + 20rem);
    height: 100vh;
    top: 0rem;
    right: -10rem;
    padding: 5.5rem 11rem;

    .mainNavItem {
      padding: 2rem 0rem;
      height: 4rem;
      line-height: 4rem;
      visibility: visible;
      color: var(--color-font);
    }
  }
}

.bottomNavWrapper {
  width: 100%;
  height: 6rem;
  padding: 0.5rem 2rem;
  box-sizing: border-box;

  background-color: var(--color-bottom-nav-bground);

  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  transition: 200ms;

  &.hidden {
    bottom: -6rem;
  }
}

.bottomNavIconWrapper {
  height: 4.5rem;
  -webkit-tap-highlight-color: transparent;

  img {
    height: 4.5rem;
    width: 4.5rem;
    transition: 0.1s;
  }

  a:active img {
    transform: scale(0.9);
    opacity: 0.5;
  }
}
