@import "./variables.module.scss";

.mainNav {
  width: 0vw;
  height: 0vh;
  top: 3rem;
  right: 4rem;
  padding: 0rem;

  border-radius: 10rem;
  background-color: var(--color-menu-bground);
  position: fixed;
  box-sizing: border-box;
  overflow-y: scroll;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;

  z-index: 998;

  transition: 200ms;

  // add this class when MainNav is closed
  // bacground animation get delay so NavItems animation run first
  &.transitionDelay {
    transition: 150ms;
    transition-delay: 150ms;
  }

  .mainNavItem {
    font-family: $font-headline;
    box-sizing: border-box;
    font-size: 4rem;

    height: 0rem;
    padding: 0rem;
    line-height: 0rem;
    visibility: hidden;
    color: var(--color-menu-bground);

    width: 100%;

    transition: 200ms;

    // add this class when MainNav is open,
    // NevItems get delay, so background animation run first
    // set also slower transition than 'on close'
    &.transitionDelay {
      transition: 500ms;
      transition-delay: 100ms;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .subItemBox {
    font-family: $font-headline;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;

    height: 0rem;
    padding: 0rem 2rem;

    border-top-width: 0px;
    border-top-style: solid;
    border-top-color: var(--color-menu-bground);
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-menu-bground);

    transition: 100ms;
    transition-delay: 0ms;

    a {
      text-decoration: none;
      color: var(--color-menu-bground);

      width: 100%;
      font-size: 0rem;
      line-height: 0rem;
      height: 0rem;
      padding: 0rem;
      visibility: hidden;

      transition: 100ms;
      transition-delay: 0ms;
    }
  }

  &.open {
    width: calc(100vw + 20rem);
    height: 100%;
    top: 0rem;
    right: -10rem;
    padding: 5rem 11rem;

    .mainNavItem {
      padding: 2rem 0rem;
      height: auto;
      line-height: normal;
      visibility: visible;
      color: var(--color-font);
    }

    .subItemBox {
      height: auto;
      padding: 1rem 2rem;

      border-top-width: 1px;
      border-top-color: var(--color-lines);
      border-bottom-width: 1px;
      border-bottom-color: var(--color-lines);

      transition: 400ms;
      transition-delay: 500ms;

      a {
        color: var(--color-font);
        font-size: 3rem;
        line-height: normal;
        height: auto;
        padding: 0.5rem 0rem;
        visibility: visible;
        transition: all 400ms;
        transition-delay: 500ms;
      }
    }
  }
}

.bottomNavWrapper {
  width: 100%;
  height: 6rem;
  padding: 0.5rem 2rem;
  box-sizing: border-box;

  background-color: var(--color-bottom-nav-bground);

  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  transition: 200ms;

  &.hidden {
    bottom: -6rem;
  }
}

.bottomNavIconWrapper {
  height: 4.5rem;
  -webkit-tap-highlight-color: transparent;

  img {
    height: 4.5rem;
    width: 4.5rem;
    transition: 0.1s;
  }

  a:active img {
    transform: scale(0.9);
    opacity: 0.5;
  }
}
