@import url("https://fonts.cdnfonts.com/css/impact");

// FONTS

$font-headline: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// COLORS

$white: #ffffff;
$grey-100: #eeeeee;
$grey-500: #5b5b5b;
$grey-900: #454545;
$black: #000000;
$green: #337c29;

// COLORS transparent

$full-transparent: #{$white}00; // equal to rgba(255, 255, 255, 0)
$white-transparent-9: #{$white}e6; // equal to rgba(255, 255, 255, 0.9)
$grey-500-transparent-9: #{$grey-500}f2; // equal to rgba(91, 91, 91, 0.95);
$black-transparent-8: #{$black}cc; // equal to rgba(0, 0, 0, 0.8);
$green-transparent-9: #{$green}e6; // equal to

// BACKGROUNDS

$header-continent-background: linear-gradient(
  var(--color-background) 70%,
  $full-transparent
);

$globe-shadow: radial-gradient(
  closest-side at 50% 80%,
  var(--globe-shadow-center),
  $full-transparent 60%
);

// THEMES Differences

// LIGHT THEME

:root {
  --color-background: #{$grey-100};
  --color-font: #{$black};
  --color-lines: #{$black};
  --color-icons: #{$black};
  --color-primary: #{$green};

  --background-transparent-mainNav: #{$white-transparent-9};
  --background-transparent-bottomNav: #{$green-transparent-9};

  // --globe-brightness: ;
  --globe-shadow-center: #{$grey-500-transparent-9};
}

// DARK THEME

:root[data-theme="dark"] {
  --color-background: #{$grey-900};
  --color-font: #{$white};
  --color-lines: #{$white};
  --color-icons: #{$white};
  --color-primary: #{$green};

  --background-transparent-mainNav: #{$grey-500-transparent-9};
  // --background-transparent-bottomNav: var(--color-primary);
  --background-transparent-bottomNav: #{$green-transparent-9};

  --globe-brightness: brightness(0.9);
  --globe-shadow-center: #{$black-transparent-8};
}
